/* #heading {
  color: red;
}
#child {
  color: Blue;
}
#child2 {
  color: red;
}
h2 {
  color: green;
} */
.body {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 80px;
}
.logo {
  width: 40px;
  height: 50px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 5px;
  margin: 5px;
  font-size: 15px;
}
.res-card {
  text-align: start;
  margin-top: 20px;
  margin-left: 9px;
  padding: 1.1rem;
  width: 18%;
  height: 290px;
  background-color: white;
  border: 1px solid none;
  border-radius: 5%;
}
.res-card:hover {
  border: 1px solid rgb(196, 196, 196);
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.search {
  margin-left: 0;
  margin-top: 10px;
  gap: 10px;
}

.res-logo {
  width: 80%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.rating {
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.causian {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  font-size: 10px;
  gap: 10px;
}
.res-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 80px;
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}

/* shimmer card*/
.shimmer-card {
  text-align: start;
  margin-top: 20px;
  margin-left: 9px;
  padding: 1.1rem;
  width: 100%;
  height: 290px;
  background-color: #f0f0f0;
  border: 1px solid none;
  border-radius: 5%;
}
.shimmer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.login {
  padding: 10px 11px;
  font-size: 14px;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.login:hover {
  background-color: #082d55;
}
.filter {
  display: flex;
  gap: 20px;
}
.toprated {
  margin-top: 10px;
}
